.about {
    .about-top {
        position: relative;
        max-width: min(33rem, 56vw);

        img {
            position: absolute;
            z-index: -1;
            width: 85%;
            bottom: -15px;
            left: -4px;
        }
    }

    .container-about-info {
        img {
            width: 70%;
            display: block;
            margin: 3.2rem auto;
        }
    }

    .about-content {
        display: flex;
        align-items: stretch;
        gap: 1.2rem;

        line-height: 2.2rem;

        div:nth-child(1) {
            width: 2rem;
            background-color: $text-color;
            border-radius: 9999px;
        }

        p:not(:first-child) {
            margin-top: 1rem;
        }
    }

    .skill {
        margin-top: 3.2rem;

        h3 {
            font-size: 3.6rem;
        }

        .tech-skills {
            margin-top: 2rem;

            text-align: center;

            display: grid;
            grid-template-areas:
                "A B C"
                "D E F";
            justify-content: space-evenly;
        }

        .container-tech {
            width: 8.4rem;
        }

        .tech-symbol {
            @extend .centralize-x-y;
            height: 8.4rem;
            border-radius: 2rem;

            svg {
                height: 80%;
                path {
                    fill: $color-a;
                }
            }
        }

        p {
            margin: 1.6rem auto;
        }

        .bg-html {
            @include shadows-of-techs($tech-color-html);
        }

        .bg-css {
            @include shadows-of-techs($tech-color-css);
        }

        .bg-js {
            @include shadows-of-techs($tech-color-js);
        }

        .bg-git {
            @include shadows-of-techs($tech-color-git);
        }

        .bg-node {
            @include shadows-of-techs($tech-color-node);
        }

        .bg-sqlite {
            @include shadows-of-techs($tech-color-sqlite);
        }
    }
}
