* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $color-a;
  max-width: 100vw;
  // border: 1px solid rgb(3, 0, 0);
  padding-top: 2.4rem;

  &::-webkit-scrollbar {
    width: 1.3rem;
    height: 2.2rem;
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: transparent;
    border-radius: 5rem;
    box-shadow: inset 0 0 0px 6px rgb(200, 200, 200);
    border: solid 3px transparent;
  }
}

body * {
  font-family: $primary-font;
}

header,
main,
footer {
  padding: 0 2.4rem;
}

section,
footer {
  margin-top: 4rem;
}

h2 {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 5rem;
  max-width: 30rem;
}

button {
  background-color: transparent;
  border: 0;

  &:hover {
    cursor: pointer;
  }
}

a {
  color: $text-color;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

.centralize-x-y {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-html {
  background-color: $tech-color-html;
}

.bg-css {
  background-color: $tech-color-css;
}

.bg-js {
  background-color: $tech-color-js;
}

.bg-git {
  background-color: $tech-color-git;
}

.bg-node {
  background-color: $tech-color-node;
}

.bg-sqlite {
  background-color: $tech-color-sqlite;
}

.bg-figma,
.bg-express {
  background-color: $text-color;
}

.bg-knex {
  background-color: $tech-color-knex;
}

.bg-react {
  background-color: $tech-color-react;
}
