$color-a: #ffffff;
$color-b: #34d399;
$color-c: #38bdf8;
$color-d: #f59e0b;
$color-e: #f43f5e;
$color-f: #111827;

$text-color: #111827;

$primary-font: "Poppins", sans-serif;
$secondary-font: "Nunito", sans-serif;

$tech-color-html: #e44d26;
$tech-color-css: #1572b6;
$tech-color-js: #f0db4f;
$tech-color-git: #f34f29;
$tech-color-node: #83cd29;
$tech-color-sqlite: #3497d9;
$tech-color-knex: #d65f24;
