* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #ffffff;
  max-width: 100vw;
  padding-top: 2.4rem;
}
body::-webkit-scrollbar {
  width: 1.3rem;
  height: 2.2rem;
  border-radius: 9999px;
}
body::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: transparent;
  border-radius: 5rem;
  box-shadow: inset 0 0 0px 6px rgb(200, 200, 200);
  border: solid 3px transparent;
}

body * {
  font-family: "Poppins", sans-serif;
}

header,
main,
footer {
  padding: 0 2.4rem;
}

section,
footer {
  margin-top: 4rem;
}

h2 {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 5rem;
  max-width: 30rem;
}

button {
  background-color: transparent;
  border: 0;
}
button:hover {
  cursor: pointer;
}

a {
  color: #111827;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

.centralize-x-y, footer .social-media, .about .skill .tech-symbol, .projects .project-thumbnail, .introduction .container-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacking, footer .footer-bottom, .introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-html {
  background-color: #e44d26;
}

.bg-css {
  background-color: #1572b6;
}

.bg-js {
  background-color: #f0db4f;
}

.bg-git {
  background-color: #f34f29;
}

.bg-node {
  background-color: #83cd29;
}

.bg-sqlite {
  background-color: #3497d9;
}

.bg-figma,
.bg-express {
  background-color: #111827;
}

.bg-knex {
  background-color: #d65f24;
}

.bg-react {
  background-color: #61dafb;
}

header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
}
header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header > div h1 {
  font-weight: 500;
  line-height: 2rem;
  font-size: 2.5rem;
}
header nav {
  position: absolute;
  bottom: -21rem;
  right: 1.5rem;
  padding: 4.4rem;
  width: 18rem;
  height: 20rem;
  background: #ffffff;
  border-radius: 1.8rem;
  box-shadow: 0px 0px 20px -10px black;
}
header div:empty {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  top: -7px;
  right: 15px;
  transform: rotate(45deg);
  box-shadow: -2px -2px 5px -4px black;
  border-radius: 5px;
}
header ul {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header ul li:nth-child(1) a {
  color: #f59e0b;
}
header ul li:nth-child(2) a {
  color: #38bdf8;
}
header ul li:nth-child(3) a {
  color: #34d399;
}

.introduction {
  border-radius: 2rem;
  background: linear-gradient(99.03deg, #fbed96 -1%, #abecd6 92.31%);
  padding: 3rem 2.4rem;
  text-align: center;
}
.introduction .container-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 0 20px -10px #808080;
}
.introduction .container-avatar img {
  width: 100%;
  height: 100%;
}
.introduction p:nth-child(2) {
  margin-top: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3rem;
}
.introduction p {
  font-size: 3.2rem;
  line-height: 3.8rem;
}
.introduction p span {
  position: relative;
}
.introduction p span strong {
  color: #38bdf8;
}
.introduction p span img {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
}
.introduction .intro-links {
  max-width: 53rem;
  margin-top: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.9rem;
}
.introduction .intro-links a {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.introduction .intro-links > a:first-child {
  padding: 0.8rem 3.6rem;
  background-color: #111827;
  color: #ffffff;
  border-radius: 9999px;
}
.introduction .intro-links span {
  min-width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.introduction .intro-links span a {
  border-bottom: 2px solid #111827;
}

.projects .project {
  margin-top: 4rem;
}
.projects .container-name-project {
  width: calc(100% - 1rem);
}
.projects h3 {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.projects .technologies-used {
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  overflow-x: scroll;
}
.projects .technologies-used::-webkit-scrollbar {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 9999px;
}
.projects .technologies-used::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: transparent;
  border-radius: 5rem;
  box-shadow: inset 0 0 0px 6px rgb(200, 200, 200);
  border: solid 8px transparent;
}
.projects .project-technology {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  border-radius: 9999px;
  color: #ffffff;
  padding: 0.8rem 1.6rem;
}
.projects .project-thumbnail {
  margin-top: 1.2rem;
  height: 50vw;
  background-color: rgb(232, 232, 232);
  border-radius: 1.8rem;
  box-shadow: 0 0 20px -10px black;
  overflow: hidden;
}
.projects .project-thumbnail img {
  height: 100%;
}
.projects .project-links {
  margin-top: 1.2rem;
}
.projects .project-links a {
  align-items: center;
  display: inline-flex;
  gap: 0.4rem;
}
.projects .show-more {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
}
.projects .show-more *:hover {
  cursor: pointer;
}
.projects .desktop-buttons {
  display: none;
}

.about .about-top {
  position: relative;
  max-width: min(33rem, 56vw);
}
.about .about-top img {
  position: absolute;
  z-index: -1;
  width: 85%;
  bottom: -15px;
  left: -4px;
}
.about .container-about-info img {
  width: 70%;
  display: block;
  margin: 3.2rem auto;
}
.about .about-content {
  display: flex;
  align-items: stretch;
  gap: 1.2rem;
  line-height: 2.2rem;
}
.about .about-content div:nth-child(1) {
  width: 2rem;
  background-color: #111827;
  border-radius: 9999px;
}
.about .about-content p:not(:first-child) {
  margin-top: 1rem;
}
.about .skill {
  margin-top: 3.2rem;
}
.about .skill h3 {
  font-size: 3.6rem;
}
.about .skill .tech-skills {
  margin-top: 2rem;
  text-align: center;
  display: grid;
  grid-template-areas: "A B C" "D E F";
  justify-content: space-evenly;
}
.about .skill .container-tech {
  width: 8.4rem;
}
.about .skill .tech-symbol {
  height: 8.4rem;
  border-radius: 2rem;
}
.about .skill .tech-symbol svg {
  height: 80%;
}
.about .skill .tech-symbol svg path {
  fill: #ffffff;
}
.about .skill p {
  margin: 1.6rem auto;
}
.about .skill .bg-react {
  box-shadow: 0 15px 10px -10px #61dafb;
}
.about .skill .bg-node {
  box-shadow: 0 15px 10px -10px #83cd29;
}
.about .skill .bg-css {
  box-shadow: 0 15px 10px -10px #1572b6;
}
.about .skill .bg-sqlite {
  box-shadow: 0 15px 10px -10px #3497d9;
}
.about .skill .bg-git {
  box-shadow: 0 15px 10px -10px #f34f29;
}
.about .skill .bg-figma {
  box-shadow: 0 15px 10px -10px #111827;
}

footer {
  background-color: #111827;
  padding: 5rem 2.4rem 2.4rem;
}
footer * {
  color: #ffffff;
}
footer h2 {
  font-weight: 500;
  line-height: 6rem;
}
footer p {
  margin-top: 0.8rem;
}
footer > p + p {
  margin-top: 3.2rem;
}
footer .social-media-container {
  margin-top: 3.2rem;
  display: flex;
  gap: 1.5rem;
}
footer .social-media {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #ffffff;
  border-radius: 8px;
}
footer svg {
  width: 80%;
}
footer svg path {
  fill: #111827;
}
footer #banner {
  display: none;
}
footer .footer-bottom {
  margin: 13rem auto 0;
  font-size: 1.2rem;
  text-align: center;
}
footer .footer-bottom p + p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

@media (min-width: 600px) {
  header,
main,
footer {
    padding: 0;
  }
  h2 {
    font-size: 9rem;
    font-weight: 500;
    line-height: 8rem;
  }
  .container-page {
    max-width: 970px;
    margin: auto;
    padding: 0 3rem;
  }
  .introduction .container-avatar {
    width: 18rem;
    height: 18rem;
  }
  .introduction p:nth-child(2) {
    font-size: clamp(2rem, 2rem + 2vw, 4.4rem);
    line-height: 6rem;
  }
  .introduction p:nth-child(3) {
    font-size: 6rem;
    line-height: 6rem;
    font-size: clamp(3rem, 3rem + 2vw, 6rem);
    line-height: clamp(3rem, 4rem + 2vw, 7rem);
  }
  .introduction .intro-links {
    gap: 4.5rem;
  }
  .introduction .intro-links a {
    font-size: clamp(1rem, 1rem + 50%, 2rem);
  }
  .projects h2 {
    margin-top: 8rem;
  }
  .projects .container-slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  .projects .container-projects {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    overflow-x: scroll;
    padding: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .projects .container-projects::-webkit-scrollbar {
    display: none;
  }
  .projects .project {
    max-width: 48%;
    height: 45rem;
    flex-shrink: 0;
    transition: all ease 0.6s;
  }
  .projects .project-thumbnail {
    height: 60%;
    opacity: 0.5;
    transition: all ease 0.6s;
  }
  .projects .project-thumbnail.current-project {
    opacity: 1;
  }
  .projects .show-more {
    display: none;
  }
  .projects .desktop-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  .projects .desktop-buttons img:hover {
    cursor: pointer;
  }
  .projects .desktop-buttons img:nth-child(1) {
    transform: scaleX(-1);
  }
  footer {
    padding: 8rem 0 3.5rem;
  }
  footer .container-footer-infos {
    display: flex;
    align-items: stretch;
    gap: 2rem;
  }
  footer h2 {
    max-width: initial;
    line-height: 10rem;
  }
  footer .container-banner {
    width: 100%;
    overflow: hidden;
    border-radius: 2rem;
  }
  footer .footer-bottom {
    font-size: 1.6rem;
    font-weight: 500;
    flex-direction: row;
    justify-content: center;
  }
  footer .footer-bottom p:nth-child(2) {
    border-left: 1px solid;
    margin-left: 0.5rem;
    padding-left: 0.7rem;
  }
}
@media (min-width: 800px) {
  .projects .container-projects {
    gap: 1rem;
  }
  .projects .project {
    max-width: 32%;
    height: 45rem;
  }
  .about .container-about-info {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-areas: "A B" "C B";
  }
  .about .container-about-info > *:nth-child(1) {
    grid-area: B;
    align-self: center;
    width: 100%;
  }
  .about .container-about-info > *:nth-child(2) {
    grid-area: A;
  }
  .about .container-about-info > *:nth-child(3) {
    grid-area: C;
  }
  footer #banner {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=main.css.map */