* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #ffffff;
  padding: 2.4rem;
  max-width: 100vw;
  border: 1px solid rgb(3, 0, 0);
}
body::-webkit-scrollbar {
  width: 1.3rem;
  height: 2.2rem;
  border-radius: 9999px;
}
body::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: transparent;
  border-radius: 5rem;
  box-shadow: inset 0 0 0px 6px rgb(200, 200, 200);
  border: solid 3px transparent;
}

body * {
  font-family: "Poppins", sans-serif;
}

button {
  background-color: transparent;
  border: 0;
}
button:hover {
  cursor: pointer;
}

a {
  color: #111827;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.centralize-x-y, .projects .project-thumbnail, .introduction .container-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacking, .introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header div h1 {
  font-weight: 500;
  line-height: 2rem;
  font-size: 2.5rem;
}

.introduction {
  margin-top: 4rem;
  border-radius: 2rem;
  background: linear-gradient(99.03deg, #fbed96 -1%, #abecd6 92.31%);
  padding: 3rem 2.4rem;
  text-align: center;
}
.introduction .container-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3921568627);
  overflow: hidden;
}
.introduction .container-avatar img {
  width: 100%;
  height: 100%;
}
.introduction p:nth-child(2) {
  margin-top: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3rem;
}
.introduction p {
  font-size: 3.2rem;
  line-height: 3.8rem;
}
.introduction p span {
  position: relative;
}
.introduction p span strong {
  color: #38bdf8;
}
.introduction p span img {
  position: absolute;
  left: 0;
  bottom: -1px;
}
.introduction .intro-links {
  width: 100%;
  margin-top: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.introduction .intro-links * {
  display: block;
}
.introduction .intro-links a {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.introduction .intro-links > a:first-child {
  padding: 0.8rem 3.6rem;
  background-color: #111827;
  color: #ffffff;
  border-radius: 9999px;
}
.introduction .intro-links span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.projects {
  margin-top: 4rem;
}
.projects h2 {
  font-size: 5.6rem;
  line-height: 5rem;
}
.projects .project {
  margin-top: 4rem;
}
.projects h3 {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 500;
}
.projects .technologies-used {
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  overflow-x: scroll;
}
.projects .technologies-used::-webkit-scrollbar {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 9999px;
}
.projects .technologies-used::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: transparent;
  border-radius: 5rem;
  box-shadow: inset 0 0 0px 6px rgb(200, 200, 200);
  border: solid 8px transparent;
}
.projects .project-technology {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  border-radius: 9999px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  padding: 0.8rem 1.6rem;
}
.projects .bg-js {
  background-color: #f0db4f;
}
.projects .bg-node {
  background-color: #83cd29;
}
.projects .bg-css {
  background-color: #1572b6;
}
.projects .bg-html {
  background-color: #e44d26;
}
.projects .bg-git {
  background-color: #f34f29;
}
.projects .project-thumbnail {
  margin-top: 1.2rem;
  height: 50vw;
  background-color: rgb(232, 232, 232);
  border-radius: 1.8rem;
  box-shadow: 0 0 20px -10px black;
  overflow: hidden;
}
.projects .project-thumbnail img {
  height: 100%;
}
.projects .project-links {
  margin-top: 1.2rem;
}
.projects .project-links a {
  align-items: center;
  display: inline-flex;
  gap: 0.4rem;
}
.projects .show-more {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
}
.projects .show-more *:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */